
@font-face {
    font-family:"AdihausDIN Cn Bold";
    src:url("AdihausDIN-CnBold.woff2") format("woff2"),url("AdihausDIN-CnBold.woff") format("woff"),url("AdihausDIN-CnBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        