
@font-face {
    font-family:"Tusker Grotesk 3700 Bold";
    src:url("TuskerGrotesk-3700Bold.woff2") format("woff2"),url("TuskerGrotesk-3700Bold.woff") format("woff"),url("TuskerGrotesk-3700Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        