
@font-face {
    font-family:"AdihausDIN";
    src:url("AdihausDIN-Regular.woff2") format("woff2"),url("AdihausDIN-Regular.woff") format("woff"),url("AdihausDIN-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        