@font-face {
  font-family: "ITCFranklinGothicLT-BkCp";
  src: url("~assets/fonts/ITCFranklinGothicLT-BkCp/ITCFranklinGothicLT-BkCp.woff")format("woff"),
    url("~assets/fonts/ITCFranklinGothicLT-BkCp/ITCFranklinGothicLT-BkCp.woff2")format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITCFranklinGothicLT-DmCp";
  src: url("~assets/fonts/ITCFranklinGothicLT-DmCp/ITCFranklinGothicLT-DmCp.woff")format("woff"),
    url("~assets/fonts/ITCFranklinGothicLT-DmCp/ITCFranklinGothicLT-DmCp.woff2")format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITCFranklinGothicLT-DmXtraCp";
  src: url("~assets/fonts/ITCFranklinGothicLT-DmXtraCp/ITCFranklinGothicLT-DmXtraCp.woff")format("woff"),
    url("~assets/fonts/ITCFranklinGothicLT-DmXtraCp/ITCFranklinGothicLT-DmXtraCp.woff2")format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}