@import 'base/normalize.scss';
@import 'base/reset.scss';
@import 'base/debug.scss';
@import 'fonts.scss';
@import 'layout.scss';
@import 'easings.scss';
@import 'utils.scss';

:root {
  --c-white: #ffffff;
  --c-black: #181818;
  --c-blue-adidas: #0000ff;
  --c-light-blue: #0000ff;
  --c-red-adidas: #e3530f;
  --c-light-red: #ed5c5a;
  --c-grey: #f5f5f3;
  --c-transparent: rgba(0, 0, 0, 0);
}

html {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: initial;
}

// * {
//   cursor: none !important;
// }
.app.cursor-custom {
  cursor: none !important;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overscroll-behavior: none;
}

body {
  background-color: var(--c-grey) !important;
}

*::selection {
  background-color: var(--c-black);
  color: var(--c-white);
}

body,
#__nuxt,
#__layout {
  display: flex;
  flex: 1;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}

a,
button,
input,
label,
textarea,
select {
  color: inherit;
  cursor: pointer;
}

.char,
.word,
.line {
  will-change: transform;
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

video,
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  user-select: none;
}

picture {
  height: 100%;
  width: 100%;
  display: block !important;
}

.tp-rotv {
  z-index: 999999;
  position: fixed;
  right: 0;
  top: 0;
  min-width: 225px;
  cursor: initial;
  overflow: visible;
}

.webgl-component {
  display: none;
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  user-select: none;
}
