@import 'base/normalize.scss';
@import 'base/reset.scss';
@import 'base/debug.scss';
@import 'fonts.scss';
@import 'layout.scss';
@import 'easings.scss';
@import 'utils.scss';

:root {
  --c-white: #ffffff;
  --c-black: #181818;
  --c-blue-adidas: #0000FF;
  --c-light-blue: #0000FF;
  --c-red-adidas: #FF4A48;
  --c-light-red: #ED5C5A;
  --c-beige: #FBF5EE;
  --c-transparent: rgba(0,0,0,0);
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: initial;
}

html,
body {
  width: 100%;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overscroll-behavior: none;
}

body {
  // background-color: var(--c-black);
}

*::selection {
  background-color: var(--c-black);
  color: var(--c-white);
}

body,
#__nuxt,
#__layout {
  display: flex;
  flex: 1;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}

a,
button,
input,
label,
textarea,
select {
  color: inherit;
  cursor: pointer;
}

.char,
.word,
.line {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  backface-visibility: hidden;
  perspective: 1000;
}

video, img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

picture {
  height: 100%;
  width: 100%;
  display: block;
}



