@use 'sass:map';

$layout: (
    'columns-count': (6,
        12,
    ),
    'columns-gap': (20px,
        40px,
    ),
    'margin': (12px,
        40px,
    ),
);

//internal process, do not touch
:root {
    --layout-columns-count: #{nth(map.get($layout, 'columns-count'), 1)};
    --layout-columns-gap: #{mobile-vw(nth(map.get($layout, 'columns-gap'), 1))};
    --layout-margin: #{mobile-vw(nth(map.get($layout, 'margin'), 1))};

    @include desktop {
        --layout-columns-count: #{nth(map.get($layout, 'columns-count'), 2)};
        --layout-columns-gap: #{desktop-vw(nth(map.get($layout, 'columns-gap'), 2))};
        --layout-margin: #{desktop-vw(nth(map.get($layout, 'margin'), 2))};
    }

    --layout-width: calc(100vw - (2 * var(--layout-margin)));
    --layout-column-width: calc((var(--layout-width) - ((var(--layout-columns-count) - 1) * var(--layout-columns-gap))) / var(--layout-columns-count));
}

.block {
    max-width: var(--layout-width);
    margin-left: auto;
    margin-right: auto;
}

.block-inner {
    padding-left: var(--layout-margin);
    padding-right: var(--layout-margin);
}

.grid {
    @extend .block;

    display: grid;
    grid-template-columns: repeat(var(--layout-columns-count), minmax(0, 1fr));
    grid-gap: var(--layout-columns-gap);
}

.grid-fullwidth {
    display: grid;
    grid-template-columns: repeat(var(--layout-columns-count), minmax(0, 1fr));
    grid-gap: var(--layout-columns-gap);
}

.grid-inner {
    @extend .block-inner;

    display: grid;
    grid-template-columns: repeat(var(--layout-columns-count), minmax(0, 1fr));
    grid-gap: var(--layout-columns-gap);
}

