@use 'sass:math';
@import 'variables.scss';

// Breakpoint
@mixin mobile {
  @media (max-width: #{$mobile-breakpoint}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$mobile-breakpoint}) {
    @content;
  }
}

@function mobile-vw($pixels, $base-vw: $mobile-width) {
  @return math.div($pixels * 100vw, $base-vw);
}

@function mobile-vh($pixels, $base-vh: $mobile-height) {
  @return math.div($pixels * 100vh, $base-vh);
}

@function desktop-vw($pixels, $base-vw: $desktop-width) {
  @return math.div($pixels * 100vw, $base-vw);
}

@function desktop-vh($pixels, $base-vh: $desktop-height) {
  @return math.div($pixels * 100vh, $base-vh);
}

@function columns($columns) {
  @return calc(
    (#{$columns} * var(--layout-column-width)) +
      ((#{$columns} - 1) * var(--layout-columns-gap))
  );
}

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}

@function grid($column, $total) {
  @return 100% / $total * $column;
}

@mixin noise() {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/imgs/noise.webp');
    background-size: 35%;
    pointer-events: none;
    z-index: 999;
    opacity: 0.35;
    mix-blend-mode: hard-light;
  }
}

@mixin fake-transparent() {
  background-color: var(--c-white);
  background-image: linear-gradient(45deg, #b0b0b0 25%, transparent 25%),
    linear-gradient(-45deg, #b0b0b0 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #b0b0b0 75%),
    linear-gradient(-45deg, transparent 75%, #b0b0b0 75%) !important;
  background-size: 12px 12px;
  background-position: 0 0, 0 6px, 6px -6px, -6px 0px;
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    position: relative;
    content: '';
    display: block;
    height: 0;
    padding-top: ($height / $width * 100%);
    width: 100%;
  }
}

@mixin antialiased() {
  text-rendering: geometricPrecision; /* 2 */
  -webkit-font-smoothing: antialiased; /* 3 */
  -webkit-font-smoothing: subpixel-antialiased; /* 3 */
  -moz-font-smoothing: antialiased; /* 3 */
  font-smoothing: antialiased; /* 3 */
  -moz-osx-font-smoothing: grayscale; /* 3 */
  -khtml-font-smoothing: antialiased;
  font-smooth: always;
  -apple-font-smoothing: antialiased;
}

@mixin aspect-ratio-test($width, $height) {
  position: relative;
  padding-bottom: calc(100% / calc($height / $width));
  width: 100%;
  height: 0;

  > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@mixin draggable-false() {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
