@mixin font-ITCFranklinGothicLT-BkCp() {
  font-family: 'ITCFranklinGothicLT-BkCp';
}

@mixin font-ITCFranklinGothicLT-DmCp() {
  font-family: 'ITCFranklinGothicLT-DmCp';
}

@mixin font-ITCFranklinGothicLT-DmXtraCp() {
  font-family: 'ITCFranklinGothicLT-DmXtraCp';
}

@mixin h1() {
  font-size: desktop-vw(135px);
  line-height: desktop-vw(120px);
  text-transform: uppercase;
  letter-spacing: -0.25rem;

  @include mobile {
    font-size: mobile-vw(80px);
    line-height: mobile-vw(72px);
  }

  &.medium {
    @include font-ITCFranklinGothicLT-DmCp();
  }

  &.bold,
  .bold,
  strong {
    @include font-ITCFranklinGothicLT-DmCp();
  }
}

@mixin h2() {
  font-size: desktop-vw(100px);
  line-height: desktop-vw(90px);
  text-transform: uppercase;
  letter-spacing: -0.05em;

  @include mobile {
    font-size: mobile-vw(64px);
    line-height: mobile-vw(58px);
  }

  &.medium {
    @include font-ITCFranklinGothicLT-DmCp();
  }

  &.bold,
  .bold,
  strong {
    @include font-ITCFranklinGothicLT-DmCp();
  }
}

@mixin h2-bis() {
  font-size: desktop-vw(64px);
  line-height: desktop-vw(58px);
  text-transform: uppercase;

  @include mobile {
    font-size: mobile-vw(56px);
    line-height: mobile-vw(50px);
  }

  &.medium {
    @include font-ITCFranklinGothicLT-DmXtraCp();
  }

  &.bold,
  .bold,
  strong {
    @include font-ITCFranklinGothicLT-DmXtraCp();
  }
}

@mixin h3() {
  font-size: desktop-vw(72px);
  line-height: desktop-vw(65px);
  letter-spacing: -0.25rem;
  text-transform: uppercase;
  @include font-ITCFranklinGothicLT-DmCp();

  @include mobile {
    letter-spacing: -0.125rem;
    font-size: mobile-vw(40px);
    line-height: mobile-vw(40px);
  }

  &.bold,
  strong {
    @include font-ITCFranklinGothicLT-DmCp();
  }

  &.medium {
    @include font-ITCFranklinGothicLT-DmCp();
  }
}

@mixin h4() {
  font-size: desktop-vw(32px);
  line-height: desktop-vw(32px);
  letter-spacing: -0.04em;
  text-transform: uppercase;

  @include mobile {
    font-size: mobile-vw(32px);
    line-height: mobile-vw(30px);
  }

  &.bold-normal {
    @include font-ITCFranklinGothicLT-DmCp();
  }

  &.regular {
    @include font-ITCFranklinGothicLT-DmCp();
  }

  &.bold,
  strong {
    @include font-ITCFranklinGothicLT-DmCp();
  }

  &.medium {
    @include font-ITCFranklinGothicLT-DmCp();
  }
}


@mixin h5() {
  font-size: desktop-vw(28px);
  line-height: desktop-vw(28px);
  letter-spacing: -0.04em;
  text-transform: uppercase;

  @include mobile {
    font-size: mobile-vw(28px);
    line-height: mobile-vw(26px);
  }

  &.bold-normal {
    @include font-ITCFranklinGothicLT-DmCp();
  }

  &.regular {
    @include font-ITCFranklinGothicLT-DmCp();
  }

  &.bold,
  strong {
    @include font-ITCFranklinGothicLT-DmCp();
  }

  &.medium {
    @include font-ITCFranklinGothicLT-DmCp();
  }
}

@mixin p1() {
  font-size: desktop-vw(18px);
  line-height: desktop-vw(20px);
  // letter-spacing: -0.02em;
  text-transform: uppercase;

  @include mobile {
    font-size: mobile-vw(14px);
    line-height: mobile-vw(16px);
  }

  &.regular {
    @include font-ITCFranklinGothicLT-BkCp();
  }

  &.bold,
  strong {
    @include font-ITCFranklinGothicLT-DmCp();
  }

  &.medium {
    @include font-ITCFranklinGothicLT-DmCp();
  }
}

@mixin p2() {
  font-size: desktop-vw(16px);
  line-height: desktop-vw(20px);

  @include mobile {
    font-size: mobile-vw(14px);
    line-height: mobile-vw(20px);
  }

  &.regular {
    @include font-ITCFranklinGothicLT-BkCp();
  }

  &.bold,
  strong {
    @include font-ITCFranklinGothicLT-DmCp();
  }

  &.medium {
    @include font-ITCFranklinGothicLT-BkCp();
  }
}

@mixin p3() {
  font-size: desktop-vw(18px);
  line-height: desktop-vw(22px);

  @include mobile {
    font-size: mobile-vw(16px);
    line-height: mobile-vw(22px);
  }

  &.regular {
    @include font-ITCFranklinGothicLT-BkCp();
  }

  &.bold,
  strong {
    @include font-ITCFranklinGothicLT-DmCp();
  }

  &.medium {
    @include font-ITCFranklinGothicLT-DmCp();
  }
}