@mixin h1() {
  font-size: desktop-vw(130px);
  line-height: desktop-vw(140px);
  text-transform: uppercase;

  &.medium {
    @include font-tuskerGrotesk-medium();
    font-weight: 500;
  }
  &.bold {
    @include font-tuskerGrotesk-bold();
    font-weight: 700;
  }
}

@mixin h2() {
  font-size: desktop-vw(100px);
  line-height: desktop-vw(100px);  
  text-transform: uppercase;

  &.medium {
    @include font-tuskerGrotesk-medium();
    font-weight: 500;
  }
    
  &.bold {
    @include font-tuskerGrotesk-bold();
    font-weight: 700;
  }
}

@mixin h3() {
  font-size: desktop-vw(72px);
  line-height: desktop-vw(72px);
  letter-spacing: -0.02em;
  text-transform: uppercase;
    @include font-adihausDIN-cn-bold();
    
  &.bold {
    @include font-adihausDIN-cn-bold();
  }

  &.medium {
    @include font-adihausDIN-cn-medium();
  }
}

@mixin h4() {
  font-size:desktop-vw(32px);
  line-height: desktop-vw(41px);
  letter-spacing: -0.04em;
  text-transform: uppercase;

  &.regular {
    @include font-adihausDIN-regular();
    font-weight: 500;
  }
    
  &.bold {
    @include font-adihausDIN-bold();
    font-weight: 700;
  }
    
  &.medium {
    @include font-adihausDIN-medium();
    font-weight: 500;
  }
}

@mixin p1() {
  font-size: desktop-vw(16px);
  line-height: desktop-vw(20px);
  letter-spacing: -0.02em;
  text-transform: uppercase;

  &.regular {
    @include font-adihausDIN-regular();
    font-weight: 500;
  }
  
  &.bold {
    @include font-adihausDIN-bold();
    font-weight: 700;
  }
  
  &.medium {
    @include font-adihausDIN-medium();
    font-weight: 500;
  }
}

@mixin p2() {
  font-size: desktop-vw(14px);
  line-height: desktop-vw(20px);

  &.uppercase {
    text-transform: uppercase;
  }

  &.regular {
    @include font-adihausDIN-regular();
    font-weight: 500;
  }
  
  &.bold {
    @include font-adihausDIN-bold();
    font-weight: 700;
  }

  &.medium {
    @include font-adihausDIN-medium();
    font-weight: 500;
  }
}

@mixin font-tuskerGrotesk-bold() {
  font-family: "TuskerGrotesk-Bold";
}

@mixin font-tuskerGrotesk-medium() {
  font-family: "TuskerGrotesk-Medium";
}

@mixin font-adihausDIN-cn-bold() {
  font-family: "AdihausDIN Cn Bold";
}

@mixin font-adihausDIN-cn-medium() {
  font-family: "AdihausDIN Cn Medium";
}

@mixin font-adihausDIN-cn() {
  font-family: "AdihausDIN Cn";
}

@mixin font-adihausDIN-bold() {
  font-family: "AdihausDIN Bold";
}

@mixin font-adihausDIN-medium() {
  font-family: "AdihausDIN Medium";
}

@mixin font-adihausDIN-regular() {
  font-family: "AdihausDIN";
}