@mixin font-adihausDIN-cn-bold() {
  font-family: 'AdihausDIN Cn Bold';
}

@mixin font-adihausDIN-cn-medium() {
  font-family: 'AdihausDIN Cn Medium';
}

@mixin font-adihausDIN-cn() {
  font-family: 'AdihausDIN Cn';
}

@mixin font-adihausDIN-bold() {
  font-family: 'AdihausDIN Bold';
}

@mixin font-adihausDIN-medium() {
  font-family: 'AdihausDIN Medium';
}

@mixin font-adihausDIN() {
  font-family: 'AdihausDIN';
}

@mixin h1() {
  font-size: desktop-vw(135px);
  line-height: desktop-vw(120px);
  text-transform: uppercase;
  letter-spacing: -0.05em;

  @include mobile {
    font-size: mobile-vw(80px);
    line-height: mobile-vw(72px);
  }

  &.medium {
    @include font-adihausDIN-cn-medium();
  }

  &.bold,
  .bold,
  strong {
    @include font-adihausDIN-cn-bold();
  }
}

@mixin h2() {
  font-size: desktop-vw(98px);
  line-height: desktop-vw(100px);
  text-transform: uppercase;
  letter-spacing: -0.03em;

  @include mobile {
    font-size: mobile-vw(64px);
    line-height: mobile-vw(58px);
  }

  &.medium {
    @include font-adihausDIN-cn-medium();
  }

  &.bold,
  .bold,
  strong {
    @include font-adihausDIN-cn-bold();
  }
}

@mixin h2-bis() {
  font-size: desktop-vw(64px);
  line-height: desktop-vw(58px);
  text-transform: uppercase;
  letter-spacing: -0.05em;

  @include mobile {
    font-size: mobile-vw(56px);
    line-height: mobile-vw(50px);
  }

  &.medium {
    @include font-adihausDIN-cn-medium();
  }

  &.bold,
  .bold,
  strong {
    @include font-adihausDIN-cn-bold();
  }
}

@mixin h3() {
  font-size: desktop-vw(72px);
  line-height: desktop-vw(72px);
  letter-spacing: -0.03em;
  text-transform: uppercase;
  @include font-adihausDIN-cn-bold();

  @include mobile {
    font-size: mobile-vw(40px);
    line-height: mobile-vw(40px);
  }

  &.bold,
  strong {
    @include font-adihausDIN-cn-bold();
  }

  &.medium {
    @include font-adihausDIN-cn-medium();
  }
}

@mixin h4() {
  font-size: desktop-vw(36px);
  line-height: desktop-vw(36px);
  letter-spacing: -0.03em;
  text-transform: uppercase;

  @include mobile {
    font-size: mobile-vw(32px);
    line-height: mobile-vw(30px);
  }

  &.bold-normal {
    @include font-adihausDIN-bold();
  }

  &.regular {
    @include font-adihausDIN-cn();
  }

  &.bold,
  strong {
    @include font-adihausDIN-cn-bold();
  }

  &.medium {
    @include font-adihausDIN-cn-medium();
  }
}

@mixin p1() {
  font-size: desktop-vw(16px);
  line-height: desktop-vw(20px);
  letter-spacing: -0.02em;
  text-transform: uppercase;

  @include mobile {
    font-size: mobile-vw(14px);
    line-height: mobile-vw(16px);
  }

  &.regular {
    @include font-adihausDIN();
  }

  &.bold,
  strong {
    @include font-adihausDIN-bold();
  }

  &.medium {
    @include font-adihausDIN-medium();
  }
}

@mixin p2() {
  font-size: desktop-vw(20px);
  line-height: desktop-vw(20px);

  @include mobile {
    font-size: mobile-vw(14px);
    line-height: mobile-vw(20px);
  }

  &.regular {
    @include font-adihausDIN();
  }

  &.bold,
  strong {
    @include font-adihausDIN-bold();
  }

  &.medium {
    @include font-adihausDIN-medium();
  }
}

@mixin p3() {
  font-size: desktop-vw(16px);
  line-height: desktop-vw(22px);

  @include mobile {
    font-size: mobile-vw(16px);
    line-height: mobile-vw(22px);
  }

  &.regular {
    @include font-adihausDIN();
  }

  &.bold,
  strong {
    @include font-adihausDIN-bold();
  }

  &.medium {
    @include font-adihausDIN-medium();
  }
}