/* Breakpoints */
$mobile-breakpoint: 900px;
$desktop-l-breakpoint: 1600px;
$desktop-xl-breakpoint: 1920px;

// Viewport Sizes
$desktop-width: 1440px;
$desktop-l-width: 1600px;
$desktop-xl-width: 1920px;
$desktop-height: 1024px;

$mobile-width: 375px;
$mobile-height: 650px;


$mobile-l-width: 420px;
