
@font-face {
    font-family:"Tusker Grotesk 3500 Medium";
    src:url("TuskerGrotesk-3500Medium.woff2") format("woff2"),url("TuskerGrotesk-3500Medium.woff") format("woff"),url("TuskerGrotesk-3500Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        