
@font-face {
    font-family:"AdihausDIN Cn Medium";
    src:url("AdihausDIN-CnMedium.woff2") format("woff2"),url("AdihausDIN-CnMedium.woff") format("woff"),url("AdihausDIN-CnMedium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        